.signup_form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
    margin-bottom: 20px;
    margin: 0 auto;
    box-shadow: 1px 2px 10px 0px #c5c5c5;
    padding: 12px 20px 20px;
  }
  
  .signup_form > *{
    margin-bottom: 20px;
  }
  
  .signup_form.footer.button:first-child{
    margin-right: 200px;
    padding-top: 200px;
  }

  .ul{
    list-style: none;
    text-align: ledt;
  }

  .label{
      padding-right: 15px;
  }
  
  header,
  footer{
    text-align: center;
  }
  
  .signup_form.wrapper__form{
    margin: auto;
  }

