/*
////////////////////////////////////////////
STANDART BUTTONS
*/ 
button{
    height: 32px;
    font-size: 15px;
    padding: 0 16px;

    border-radius: 100px;
    background: #a64e00;
    color: #ffffff;
    cursor: pointer;
}

button:hover{
    background: #bf7330;
}
button:active{
    background: #654321;
}
button:focus{
    box-shadow: 0 0 0 2px #015c65, 
                0 0 0 4px #015c65;
    outline: none;
}
button[disabled] {
    opacity: 0.48;
    pointer-events: none;
    user-select: none;
}

/*
////////////////////////////////////////////
BLUE BUTTONS
*/ 
button.blue{
    background: #35c0cd;
    color: #000000;
}

button.blue:hover{
    background: #41e4f3;
}

button.blue[disabled]{
    opacity: 0.48;
    pointer-events: none;
    user-select: none;
}

/*
////////////////////////////////////////////
BLUE BIG BUTTONS
*/

button.blue.big{
    height: 200px;
    width: 25%;
    font-weight: bold;
    font-size: x-large;
    font-family: sans-serif;
    border-radius: 0px;
}

button.blue.big:hover{
    background: #41e4f3;
    box-shadow: 0 15px 20px #000000;
    transform: translateY(-5px);
}